# MongoDB Cloud Connection (MongoDB Atlas)
# Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas database credentials
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/codeswipe?retryWrites=true&w=majority

# Site Base URL
NEXT_PUBLIC_BASE_URL=https://codeswipeitsolutions.com
